<div class="container">
    <h2>Seus produtos favoritos</h2>
    <section class="lista-favoritos">
        <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
              <div
                 fxFlex="25%"
                 fxFlex.xs="100%"
                 fxFlex.sm="33%"
                 *ngFor="let item of rodas; let i = index">
                    <mat-card *ngIf="item.favorito">
                    <img mat-card-image [src]="item.foto" [alt]="item.produto">
                    <mat-card-content>
                        <h3>{{ item.produto }}</h3>
                        <ul>
                            <li>{{ item.preco | currency }}</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <button
                            [class]="item.favorito === false ? 'favorite' : 'favorite-checked'"
                            [title]="item.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                            mat-button
                            (click)="toggleFavorito(i)">
                            <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon="star"></mat-icon>
                        </button> 
                        <button mat-button (click)="verDetalhes(item.id)">Mais detalhes</button>
                    </mat-card-actions>
                    </mat-card>
                </div>
            </div>
          </div>
    </section>
    <section class="items">
        <h2>Fingerboard item</h2>
        <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
              <div
                fxFlex="25%"
                fxFlex.xs="100%"
                fxFlex.sm="33%"
                *ngFor="let item of rodas; let i = index">
                <mat-card class="mat-elevation-z4">
                  <img mat-card-image [src]="item.foto" [alt]="item.produto">
                  <mat-card-content>
                    <h3>{{ item.produto }}</h3>
                    <ul>
                        <li>{{ item.preco | currency }}</li>
                    </ul>
                </mat-card-content>
                  <mat-card-actions>
                    <button
                        [class]="item.favorito === false ? 'favorite' : 'favorite-checked'"
                        [title]="item.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                        mat-button
                        (click)="toggleFavorito(i)">
                        <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon="star"></mat-icon>
                    </button> 
                    <button mat-button (click)="verDetalhes(item.id)">Mais detalhes</button>
                </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
    </section>
</div>