    <div class="container">
            <section class="quem-somos">
                <h1>Quem Somos</h1>
                <p>A FingerTricks é a sua loja online especializada em fingerboards. Nossa paixão é proporcionar a você a melhor experiência no mundo dos fingerboards, oferecendo produtos de alta qualidade, variedade e atendimento excepcional.</p>
            </section>
        <section class="missao">
            <h1>Missão</h1>
            <p>Nossa missão é trazer a cultura dos fingerboards para todos os cantos do mundo, oferecendo produtos de qualidade que inspirem a criatividade, o aprendizado e a diversão. Queremos ser a referência no mercado de fingerboards, proporcionando aos nossos clientes uma experiência única e gratificante.</p>
        </section>
        <section class="visao">
            <h1>Visão</h1>
            <p>Nossa visão é ser reconhecida como a loja líder no mercado de fingerboards, conhecida por sua excelência em produtos e serviços. Queremos ser a primeira escolha dos amantes de fingerboards, contribuindo para o crescimento e a evolução dessa comunidade apaixonada.</p>
        </section>
        <section class="valores">
            <h1>Valores</h1>
            <ul>
                <li>Qualidade em primeiro lugar</li>
                <li>Atendimento excepcional</li>
                <li>Inovação e criatividade</li>
                <li>Respeito pela comunidade fingerboard</li>
                <li>Sustentabilidade e responsabilidade social</li>
            </ul>
        </section>
    </div>
