<div class="container">
  <section class="product-details">
    <img [src]="produto?.foto" [alt]="produto?.produto" />
    <div class="product-description">
      <h1>{{ produto?.produto }}</h1>
      <ul>
        <li>por {{ produto?.preco | currency }}</li>

        <li>
          PARCELAMOS EM ATÉ 12X!
          <mat-icon>credit_card</mat-icon>
        </li>
      </ul>
      <mat-card-actions>
        <button mat-button routerLink="#">FINALIZAR COMPRA</button>
      </mat-card-actions>
    </div>
  </section>
</div>
